<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Productos</title>

	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link th:href="@{vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:insert="~{fragments/sidebar :: sidebar}"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">




				<!-- Topbar -->
				<div th:replace="~{fragments/topbar::topbar}"></div>


				<!-- Begin Page Content -->
				<div class="container">

					<div class="modal-body">
						<form action="/productos/editar" method="POST">

							<input type="hidden" name="id" th:value="${producto.id}" />
							<div class="form-group">
								<label for="nombre">Nombre del Producto</label>
								<input type="text" class="form-control" id="nombre" name="nombre"
									th:value="${producto.nombre}" required placeholder="Ingrese el nombre del producto">
							</div>

							<div class="form-group">
								<label for="codigo">Código del producto</label>
								<input type="text" class="form-control" id="codigo" name="codigo" required
								th:value="${producto.codigo}" placeholder="Ingrese el código del producto">
							</div>

							<div class="form-group">
								<label for="descripcion">Descripción</label>
								<input type="text" class="form-control" id="descripcion" name="descripcion"
									th:value="${producto.descripcion}" required
									placeholder="Ingrese la descripción del producto">

							</div>
							<div class="form-group">
								<label for="costo">Costo</label>
								<input type="number" class="form-control" min="0" id="costo" name="costo"
									th:value="${producto.costo}" required placeholder="Ingrese el costo del producto">
							</div>
							<div class="form-group">
								<label for="precioVenta">Precio de Venta</label>
								<input type="number" class="form-control" min="0" id="precioVenta" name="precioVenta"
									th:value="${producto.precioVenta}" required
									placeholder="Ingrese el precio de venta">
							</div>

							<button class="btn btn-secondary m-1" type="button"
								onclick="window.location.href='/productos'">Volver</button>
							<button class="btn btn-primary m-1" type="submit">Actualizar producto </button>

						</form>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:replace="~{fragments/footer :: footer}"></div>

			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="~{fragments/logout-modal::logout-modal}"></div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>



</body>

</html>