<!-- Eliminar Producto Modal-->
<div class="modal fade" id="EliminarProductoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	th:fragment="EliminarProducto-modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">¿Está seguro que realmente desea eliminar el siguiente producto?</div>
			<div class="card-body">
				<span th:text="${producto.nombre}"></span>


			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
				<a class="btn btn-danger">Eliminar</a>
			</div>
		</div>
	</div>
</div>